@import "../../../../../global.scss";

.ProfileComponent-Activity-Friends {
    display: flex;
    width: 100%;
    gap: toRem(50.93);

    .activity-Profile {
        display: flex;
        flex-direction: column;
        gap: toRem(25);

        .textActive {
            display: flex;
            gap: toRem(8);
            flex-direction: row;
            align-items: center;

        }

        .graph {
            display: flex;
            gap: toRem(9);
            align-items: center;

            .graphN {
                display: flex;
                flex-direction: column;
                height: toRem(305);
                justify-content: space-between;
                align-items: flex-end;

                p {
                    font-family: 'SF';
                    font-style: normal;
                    font-weight: 400;
                    font-size: toRem(10);
                    text-align: right;
                    color: #F9C690;
                }
            }
        }

    }

}

h1 {
    font-family: "SF";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8125rem;
    line-height: 2.1875rem;
    color: #F9C690;
}